@import '../../../style/global.scss';

.videos--container {
    padding: 250px 70px;
    padding-bottom: 230px;
    background: #ffffff;
    clip-path: polygon(0 65px, 100% 0, 100% 95%, 0 100%);
    margin-top: -50px;

    .videos--container1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 635px;

        .videos--container1--texta {
            font-size: 54px;
            font-weight: 700;
            line-height: 64px;
            text-align: left;
        }

        .videos--container1--textb {
            font-size: 22px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
        }

        .videos--container11 {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .videos--container111--main {
                border: 1px solid #F0F0F0;
                border-radius: 7px;
                padding: 19px 20px;
                cursor: pointer;
                transition: box-shadow .3s ease;

                .videos--container111 {
                    display: flex;
                    align-items: center;

                    .videos--container111--div {
                        width: 57px;
                        height: 57px;
                        border-radius: 50%;
                        display: flex;
                        place-content: center;
                        align-items: center;
                        margin-right: 23px;
                        transition: background .3s ease;
                    }

                    p {
                        font-size: 16px;
                        line-height: 18px;
                    }

                    .videos--container111--textb {
                        font-weight: 400;
                    }

                    .videos--container111--texta {
                        font-weight: 600;

                    }
                }

                .videos--container111--textc {
                    margin-top: 16px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                }
            }
        }
    }

    .videos--container2 {


        .videos--container2--texta {
            font-size: 54px;
            font-weight: 700;
            line-height: 64px;
            text-align: center;
            margin-bottom: 40px;
            margin-top: 236px;
        }

        .videos--container21 {
            clip-path: polygon(0 65px, 100% 0, 100% 85%, 0 100%);
            // background: grey;
            padding: 0 24px;
            height: 387px;
            overflow: hidden;
            justify-content: space-between;
            align-items: center;
            margin-top: -40px;

            .videos--container211 {
                .videos--container211--div {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-left: 20px;
                    width: 407px;

                    .videos--container211--div--texta {
                        font-size: 34px;
                        font-weight: 600;
                        line-height: 44px;
                        text-align: left;
                    }

                    .videos--container211--div--textb {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                    }
                }
            }
        }
    }
}


@media(max-width: 930px) {
    .videos--container {
        padding: 200px 16px;
        padding-bottom: 130px;

    }
}

@media(max-width: 680px) {

    .videos--container {

        .videos--container1 {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            .videos--container1--texta {
                font-size: 48px;
                line-height: 48px;
            }

            .videos--container1--textb {
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;
            }
        }

        .videos--container2 {


            .videos--container2--texta {
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                margin-bottom: 40px;
                margin-top: 100px;
            }

            .videos--container21 {
                clip-path: polygon(0 65px, 100% 0, 100% 85%, 0 100%);
                padding: 0 24px;
                height: 387px;
                overflow: hidden;
                justify-content: space-between;
                align-items: center;
                margin-top: -40px;
                width: 100%;

                .videos--container211 {
                    .videos--container211--div {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        margin-left: 20px;
                        width: 100%;

                        .videos--container211--div--texta {
                            font-size: 28px;
                            font-weight: 600;
                            line-height: 28px;
                            text-align: left;
                        }

                        .videos--container211--div--textb {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: left;
                        }
                    }
                }
            }

            .videos--container212 {
                display: none;
            }
        }
    }

}